<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BandMemberMapper">

    <insert id="insertBandMemberByBandNo" parameterType="map">
        insert into bandMember (bandNo, memberId) values(#{bandNo}, #{memberId});
    </insert>
    <insert id="insertBandMemberByBandMember" parameterType="BandMember">
        insert into bandMember(bandNo, memberId, memberNickname, isApproved, greeting) values(#{bandNo}, #{memberId}, #{memberNickname}, #{isApproved}, #{greeting});
    </insert>


    <select id="isApprovedMember" parameterType="map" resultType="boolean">
        select bandMember.isApproved from bandMember where bandNo=#{bandNo} and memberId=#{id}
    </select>
    <select id="selectBandMemberByBandNo" parameterType="int" resultType="BandMember">
        select * from bandMember where bandNo=#{bandNo}
    </select>



</mapper>