<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BandMemberMapper">

    <insert id="insertBandMemberByBandNo" parameterType="map">
        insert into bandMember (bandNo, memberId) values(#{bandNo}, #{memberId});
    </insert>
<!--    <insert id="insertBandMemberByBandName" parameterType="map">-->
<!--        insert into bandMember (BandName, memberId) values(#{BandName}, #{memberId});-->
<!--    </insert>-->


    <select id="selectMemberByBandNo" parameterType="int" resultType="Band">
        select * from bandMember where bandNo=#{bandNo}
    </select>



</mapper>