<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BandMapper">

    <insert id="createNewBand" parameterType="Band" useGeneratedKeys="true" keyProperty="no">
        insert into band (name, description, isPrivate, topic, masterId) values(#{name}, #{description}, #{isPrivate}, #{topic}, #{masterId});
    </insert>



    <select id="selectAllBandsExceptMyBands" resultType="Band" parameterType="string">
        select * from band where no not in (select bandNo from bandMember where memberId=#{id}) order by no desc;
    </select>
    <select id="selectJoinedBandsById" parameterType="string" resultType="Band">
        select * from bandMember join band on bandMember.bandNo = band.no where bandMember.memberId=#{id} and band.masterId not in (#{id}) order by no desc;
    </select>
    <select id="selectBandByNo" parameterType="int" resultType="Band">
        select * from band where no=#{no}
    </select>
    <select id="selectMyBandsById" resultType="Band" parameterType="string">
        select * from band where masterId=#{id} order by no desc
    </select>



</mapper>
