<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BandMemberMapper">

    <insert id="insertBandMemberByBandNo" parameterType="map">
        insert into bandMember (bandNo, memberId) values(#{bandNo}, #{memberId});
    </insert>
    <insert id="insertBandMemberByBandMember" parameterType="BandMember">
        insert into bandMember(bandNo, memberId, memberNickname, isApproved, greeting) values(#{bandNo}, #{memberId},
        #{memberNickname}, #{isApproved}, #{greeting});
    </insert>


    <select id="isApprovedMember" parameterType="map" resultType="boolean">
        select bandMember.isApproved from bandMember where bandNo=#{bandNo} and memberId=#{id}
    </select>
    <select id="selectBandMemberByBandNo" parameterType="int" resultType="BandMember">
        select * from bandMember where bandNo=#{bandNo} order by idx asc
    </select>
    <select id="countMyRequestById" parameterType="string" resultType="int">
        select count(*) from bandMember join band on bandMember.bandNo = band.no where bandMember.isApproved=false and
        band.masterId=#{id}
    </select>


    <select id="selectAllRequest" parameterType="string" resultType="BandMember">
        select
        bandMember.bandNo,
        bandMember.memberId,
        bandMember.memberNickname,
        bandMember.isApproved,
        bandMember.greeting,
        bandMember.requestAt,
        band.name as bandName
        from bandMember join band on bandMember.bandNo = band.no
        where bandMember.isApproved=false and band.masterId=#{id} order by requestAt desc;
    </select>
    <select id="select">
        select * from bandMember where bandNo=#{banNo} and isApproved=true;
    </select>
    <!-- 밴드 멤버 수 -->
    <select id="selectBandMemberCount" resultType="int">
        select count(*) from bandMember where bandNo=16 and isApproved=true;
    </select>



    <update id="updateApprovedBandMember" parameterType="map">
        update bandMember set isApproved=true where bandNo=#{bandNo} and memberId=#{id} and isApproved=false;
    </update>


    <delete id="deleteMemberById" parameterType="map">
        delete from bandMember where memberId=#{id} and bandNo=#{bandNo}
    </delete>
    <delete id="deleteAllMyBandMember" parameterType="string">
        delete from bandMember where bandNo in (select no from band where masterId=#{id}) or memberId=#{id}
    </delete>
    <delete id="leaveBand" parameterType="map">
        delete from bandMember where bandNo=#{bandNo} and memberId=#{id}
    </delete>

    <delete id="deleteBandMemberByBandNo" parameterType="int">
        delete from bandMember where bandNo=#{bandNo}
    </delete>

</mapper>