<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberInfoMapper">
    <insert id="insertMemberInfo" parameterType="Member">
        insert into memberInfo(id, pw, email, agree, name, nickname, age, interest)
        values(#{id},#{pw},#{email},#{agree},#{name},#{nickname},#{age},#{interest})
    </insert>


    <select id="selectMemberById" parameterType="string" resultType="Member">
        select * from memberInfo where id=#{id}
    </select>
    <select id="selectMemberByNickName" parameterType="string" resultType="Member">
        select * from memberInfo where nickname=#{id}
    </select>


    <update id="updateMemberInfo" parameterType="Member">
        update memberInfo set name=#{name}, nickname=#{nickname}, email=#{email}, agree=#{agree}, age=#{age}, interest=#{interest} where id=#{id}
    </update>



</mapper>