<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.TopicMapper">

    <select id="selectAllTopics" resultType="Topic">
        select * from topics
    </select>

    <select id="findMyMostTopic" parameterType="string" resultType="string">
        select band.topic from bandMember join band on bandMember.bandNo = band.no where memberId=#{id} order by bandNo
        asc;
    </select>

    <select id="recommendBandByMostTopic" parameterType="string" resultType="Band">
        select band.*, temp.cnt
        from band join ( select bandNo , count(*) as cnt from bandMember group by bandNo) as temp on band.no =
        temp.bandNo
        where band.topic like '%programming%' AND band.no NOT IN (SELECT bandNo FROM bandMember WHERE memberId = 'qwer')
        order by temp.cnt desc limit 5;
    </select>


</mapper>